<div class="main-index">
    <div class="left-div">
        <div class="image">
            <img src="assets/images/bg_index.png" alt="">
        </div>
        <div #dialog class="under-image">
            <!-- src="assets/images/message.svg" -->
            <img [src]="imageSource" alt="logo" class="logo">
            <span (click)="openDialog()">Busway مرحباً بك في باص واي </span>
        </div>
    </div>
    <div class="right-div text-center">
        <img class="logo" src="assets/images/logo.svg" alt="logo">
        <br />
        <img src="assets/images/logo_txt.svg" alt="logo_txt" class="logo_txt">
        <div class="mt-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h5>{{titleForm}}</h5>
                <div class="input-box">
                    <label for="userNumber">رقم المستخدم</label>
                    <input type="text" spellcheck="false" name="userNumber" id="userNumber" formControlName="userNumber"  >
                </div>
                <br />
                <div class="input-box">
                    <label for="email">{{label2}}</label>
                    <input type="text" formControlName="email" name="email" id="email" spellcheck="false"  />
                </div>
                <button class="rounded-button mt-5" >{{labelSubmit}}</button>
                <div class="mt-3">
                    <p class="my-0" style="font-size: 13px;">سوف تصلك رسالة عل البريد الالكتروني / رقم الهاتف بكلمة المرور الجديدة</p>
                </div>
            </form>

        </div>
    </div>
</div>