.header-D{
    background-color: #3AA7CE;
}
.edit-icon{
    height: 45%;
    border-radius: 15px;
    position: relative;
    top: -50%;
    background-color: rgba(0, 0, 0, 0.395);
}
.shadow-d{
    display: inline-block;
    text-align: center;
    width: 50%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}
.active-item{
    background-color: #C1E3EF;
}
.shadow-shapes{
    width: 70%;
    left: 0px;
}
.itemLabel span{
    display: inline-block;
    /* width: 120px; */
}
/* .itemLabel div{
    width: 170px;
} */
.shape{
    color: #E6E6E6;
    font-size: 30px;
    border-left: 1px solid gray;
    padding-right: 6px;
}