<div class="container-fluid">
    <div class="row headerPopUp">
        <div class="col-12 col-md-11">
            تمت اضافة باص جديد في المدارس التالية :
        </div>
        <div class="col-12 col-md-1">
            <a (click)="closeDialog()" class="border-0"><img src="assets/images/closeD.svg" ></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5 mb-4">
            <div class="cardContainer">
            <div class="row">
                <div class="col-1 itemCircle"><span></span></div>
                <div class="col-8 itemContent">
                    مدرسة س للتميز
                </div>
                <div class="col-3 itemNav">
                    <a routerLink="#" class="text-decoration-none">
                        <span class="pb-1 ps-3">صفحة المدرسة</span>
                        <i class="fas fa-arrow-left fs-6"></i>
                    </a>
                </div>
            </div>
            </div>
            <div class="cardContainer">
                <div class="row">
                    <div class="col-1 itemCircle"><span></span></div>
                    <div class="col-8 itemContent">
                        مدرسة س للتميز
                    </div>
                    <div class="col-3 itemNav">
                        <a routerLink="#" class="text-decoration-none">
                            <span class="pb-1 ps-3">صفحة المدرسة</span>
                            <i class="fas fa-arrow-left fs-6"></i>
                        </a>
                    </div>
                </div>
                </div>
                <div class="cardContainer">
                    <div class="row">
                        <div class="col-1 itemCircle"><span></span></div>
                        <div class="col-8 itemContent">
                            مدرسة س للتميز
                        </div>
                        <div class="col-3 itemNav">
                            <a routerLink="#" class="text-decoration-none">
                                <span class="pb-1 ps-3">صفحة المدرسة</span>
                                <i class="fas fa-arrow-left fs-6"></i>
                            </a>
                        </div>
                    </div>
                    </div>
        </div>
    </div>
</div>