<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-12 col-md-2 m-0 p-0 ">
            <div class="side-menu ">
                <app-side-menu></app-side-menu>
            </div>
        </div>
        <div class="col-12 col-md-10 m-0 p-0">
            <div class="navbar border border-1 border-primary">
                <app-navbar></app-navbar>
            </div>
            <div class="main-layout border border-1 border-dark">
                    <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <app-footer></app-footer>
    </div>
    </div>
</div>
