<div class="container p-0 overflow-hidden" id="section4">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="image-container">
                <img src="{{model.image}}" class="image-back">
                <a routerLink="#"><img src="/assets/images/video-player.svg" class="image-front"></a>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div>
                <div class="how-we-work-title">{{model.title}}</div>
                <div class="how-we-work-description">{{model.description}}</div>
            </div>
        </div>
    </div>
</div>
