<div class="container-fluid">
<div class="row">
    <div class="col-12 col-md-6">
        <label for="contactUs" class="defaultLabel mt-4">تواصل معنا</label>
            <editor apiKey="aul16ni1wyfshcuof1s88xy7ya3jw61q8dh5kfl26bhaxf0z" formControlName="contactUs"
            name="contactUs" [init]="{
            height: 300,
            menubar: false,
            plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
            }"></editor>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-3">
        <div class="availableFieldItem">
            <div class="availableFieldItemOutside">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="box "></div>
                    </div>
                    <div class="col-12  mt-2">
                        <span>مشترك</span>
                    </div>
                </div>
            </div>
            <div class="availableFieldItemInside">
                <div class="row">
                    <div class="col-12">
                        <a routerLink="#" class="updateLink">تعديل</a>
                    </div>
                    <div class="col-12">
                        <a routerLink="#" class="deleteLink">حذف</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="availableFieldItem">
            <div class="availableFieldItemOutside">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="box "></div>
                    </div>
                    <div class="col-12  mt-2">
                        <span>مشترك</span>
                    </div>
                </div>
            </div>
            <div class="availableFieldItemInside">
                <div class="row">
                    <div class="col-12">
                        <a routerLink="#" class="updateLink">تعديل</a>
                    </div>
                    <div class="col-12">
                        <a routerLink="#" class="deleteLink">حذف</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="availableFieldItem">
            <div class="availableFieldItemOutside">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="box "></div>
                    </div>
                    <div class="col-12  mt-2">
                        <span>مشترك</span>
                    </div>
                </div>
            </div>
            <div class="availableFieldItemInside">
                <div class="row">
                    <div class="col-12">
                        <a routerLink="#" class="updateLink">تعديل</a>
                    </div>
                    <div class="col-12">
                        <a routerLink="#" class="deleteLink">حذف</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="availableFieldItem">
            <div class="availableFieldItemOutside">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="box "></div>
                    </div>
                    <div class="col-12  mt-2">
                        <span>مشترك</span>
                    </div>
                </div>
            </div>
            <div class="availableFieldItemInside">
                <div class="row">
                    <div class="col-12">
                        <a routerLink="#" class="updateLink">تعديل</a>
                    </div>
                    <div class="col-12">
                        <a routerLink="#" class="deleteLink">حذف</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="availableFieldItem">
            <div class="availableFieldItemOutside">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="box "></div>
                    </div>
                    <div class="col-12  mt-2">
                        <span>مشترك</span>
                    </div>
                </div>
            </div>
            <div class="availableFieldItemInside">
                <div class="row">
                    <div class="col-12">
                        <a routerLink="#" class="updateLink">تعديل</a>
                    </div>
                    <div class="col-12">
                        <a routerLink="#" class="deleteLink">حذف</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="availableFieldItem">
            <div class="availableFieldItemOutside">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="box "></div>
                    </div>
                    <div class="col-12  mt-2">
                        <span>مشترك</span>
                    </div>
                </div>
            </div>
            <div class="availableFieldItemInside">
                <div class="row">
                    <div class="col-12">
                        <a routerLink="#" class="updateLink">تعديل</a>
                    </div>
                    <div class="col-12">
                        <a routerLink="#" class="deleteLink">حذف</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-3">
        <button class="saveButton">حفظ البيانات</button>
    </div>
    <div class="col-3">
        <button class="cancelButton">إلغاء</button>
    </div>
    <div class="col-3"></div>
</div>
</div>

