<div class="container">
<div class="row">
    <div class="col-7 con-div ">
        <h2>بيانات الحساب</h2>
             <div class="load-image d-flex justify-content-center align-items-center">
               <div class="text-center">
                <img src="assets/images/Image.svg" alt="not found">
                <p>اسحب صورة أو <span style="color: blue;">حمّلها</span> </p>
                <p>يجب أن يكون الصورة بصيغة jpg أو png</p>
               </div>
             </div>
             
             <div class="input-box">
                <label for="nameInEnglish">الاسم بالانجليزية</label>
                <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
            </div>

            <div class="input-box">
                <label for="nameInEnglish">الاسم بالانجليزية</label>
                <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
            </div>
            <div class="input-box">
                <label for="nameInEnglish">الاسم بالانجليزية</label>
                <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
            </div>
            <div class="input-box">
                <label for="nameInEnglish">الاسم بالانجليزية</label>
                <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
            </div>
            

         </div>
         <div class="col-1"></div>
    <div class="col-4 con-div">
        <h2>المجموعات</h2>
        <div class="card border-0  shadow">
            <div class="card-body">
                <label class="checkbox-customize">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    
                  </label>
                  <span>
                    One
                  </span>
            </div>
          </div>
          <div class="card border-0  shadow mt-4">
            <div class="card-body">
                <label class="checkbox-customize">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    
                  </label>
                  <span>
                    One
                  </span>
            </div>
          </div>
    </div>
   
</div>
<div style="height: 100px;"></div>
<div class="location-student">
    <h2>موقع المنزل</h2>
    <div class="row">
        <div class="col-6">
            <div id="googleMap" style="width:100%;height:400px;">
                <img src="assets/images/Figmap.png" width="100%" height="100%" alt="">
                </div>
        </div>
        <div class="col-6">
            <div class="input-box">
                <label for="name">موقع المنزل</label>
                <input class="emial-input" type="text" spellcheck="false" placeholder="name@gmail.com"
                    required>
                
                <div class="icon-email search-icon" dir="ltr">
                    <img src="assets/images/Search_light.svg" alt="edit">
                    <span >  بحث  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center  d-flex justify-content-center align-items-cente">
        <div class="col-2">  <button class="rounded-button">حفظ التعديلات</button></div>
        <div class="col-2"> <button class="outline-button">حفظ التعديلات</button></div>
    </div>
    </div>
   
</div>
