<div class="container-fluid">
    <div>
        <span class="prev">الاشعارات</span>
        <img src="assets/images/next.svg" alt="arrow_left.svg">
        <span>ارسال اشعار جديد</span>

    </div>
    <div class="new pt-4">
        <p>إضافة اشعار جديد :</p>
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <label class="container-ch">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                 <span class="label-ch">
                    One
                 </span>
                  
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <label class="container-ch">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                 <span class="label-ch">
                    One
                 </span>
                  
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <label class="container-ch">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                 <span class="label-ch">
                    One
                 </span>
                  
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <label class="container-ch">
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                  </label>
                 <span class="label-ch">
                    One
                 </span>
                  
            </div>
        </div>
        <div class="input-box mt-4">
            <input class="emial-input" type="text" type="text" name="location"  spellcheck="false" placeholder="بحث بالاسم"
                required>
           
            <span class="all">

                <span class=" d-flex justify-content-center align-items-center">
                    <label class="container-ch">
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                      </label>
                     <span class="label-ch">
                        الكل
                     </span>
                </span>
              
            </span>
        </div>
        <div class="add mt-4 text-center">
            <span class="icon  align-items-center justify-content-center">
                <img src="assets/images/add.svg" alt="add.svg">
               
            </span>
            <span class="label-add"> محمد أحمد</span>
        </div>
        <hr>
       <div class="row">
        <div class="col-4">
            <div class="add-m mt-4 text-center">
                <span> محمد أحمد</span>
            </div>
        </div>
        <div class="col-4">
            <div class="add-m mt-4 text-center">
                <span> محمد أحمد</span>
            </div>
        </div>
       </div>
        <div class="row mt-4">
            <div class="col-3 pt-2">عنوان الاشعار :</div>
            <div class="col-8">
                <div class="input-box">
                    <input type="text" spellcheck="false" name="email" id="email" formControlName="email">
                </div>
            </div>
        </div>
        <p>التفاصيل :</p>
        <editor
        apiKey="aul16ni1wyfshcuof1s88xy7ya3jw61q8dh5kfl26bhaxf0z"
         [init]="{
     height: 150,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"></editor>
   <div class="row text-center p-4">
    <div class="col-4">
    </div>
    <div class="col-4">
        <div class="btn-rounded d-flex align-items-center justify-content-center">
            إرسال
        </div>
    </div>
    
   </div>
    </div>
</div>