<div class="container-fluid p-0 overflow-hidden" id="section2">
    <div class="contentContainerFeature">
        <div class="contentContainerFeatureTitle">مميزات باص واي Busway</div>
        <div>
            <div class="box-container">
                <div *ngFor="let item of model" class="box">
                    <div class="box-inner-item">
                        <img src="{{item.image}}" width="60" height="60">
                        <h4 style="font-size: 15px;">{{item.title}}</h4>
                        <div>{{item.description}}</div>
                    </div>
                </div>
                <!-- <div class="box">2</div>
                <div class="box">3</div>
                <div class="box">4</div>
                <div class="box">5</div> -->
              </div>
        </div>
    </div>
    
</div>
