<div class="container-fluid">
    <div class="row">
        <div class="lastNotificationCard">
            <div class="lastNotificationTitle">أخر الاضافات :</div>
            <div class="scrollBarArea">
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
            
        </div>
        </div>
    </div>
    <div class="row">
        <div class="lastNotificationCard">
            <div class="lastNotificationTitle">أخر التعديلات :</div>
            <div class="scrollBarArea">
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
                <a (click)="openDailog()">
                    <div class="lastNotificationItem">
                        <div class="row">
                            <div class="col-1">
                                <div class="imagesStack">
                                    <img src="/assets/images/user.png" class="image-1" />
                                    <img src="/assets/images/user.png" class="image-2" />
                                    <!-- <img src="/assets/images/user.png" class="image-3"/> -->
                                    <span class="imageMoreThan-3">+7</span>
                                </div>
                            </div>
                            <div class="col-10 lastNotificationContent">
                                <span>تم اضافة باص جديد من 3 مدارس</span>
                                <span>( مدرسة س للتميز \ مدرسة السواعد النموذجية للتربة الحديثة \ مدرسة الكرمل للدراسات العليا )</span>
                            </div>
                            <div class="col-1">11:54ص</div>
                        </div>
                    </div>
                </a>
            
        </div>
        </div>
    </div>
</div>
