<div>
    <div class="nav" style="text-align: left !important;">
        <img src="assets/images/closeD.svg" alt="close.svg">
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-9 border rounded m-2 p-2 text-end">
                مشكلة في حساب المشرف
            </div>
            <p class="col-2 m-2 pt-2 labelX" dir="rtl">عنوان الطلب :</p>
        </div>
        <div class="text-end labelX" dir="rtl">
            نص الطلب :
        </div>
        <div class="border rounded m-2 p-2 text-end details-c">
            مشكلة في حساب المشرف
        </div>
    </div>
</div>