.websiteLogo{
  width: 150px;
  height: 100px;
  box-shadow: 1px 2px 5px black;
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px;
  vertical-align: middle;
  cursor: pointer;
}
.input-box {
  display: inline-block;
  width: 100%;
  padding: 7px 20px;
  text-align: right;
  outline: none;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(104, 101, 101, 0.5);
  transition: all 0.2s linear;
  border: none;
}
.input-box:hover{
  outline: none;
  border: none;
}
.label-text{
  color: #575757;
  font-size: 15px;
}
.label-img{
  display: inline-block;
  margin: 0px auto;
}
.label-img img{
  display: inline-block;
  margin: 0px auto;
  width: 38px;
  height: 38px;
}

.locationSection{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 30px 0px;
}




.buttonContainer{
  position: relative;
  width: 100%;
  height: 45px;
}
.searchContainer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20%;
  height: 45px;
  border-radius: 15px 0px 0px 15px;
  background-color: #3AA7CE;
  color: white;
  font-size: 15px;
  margin: 0px auto;
}
.searchInputContainer{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 1px solid grey;
  width: 80%;
  height: 45px;
  border-radius: 0px 15px 15px 0px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
  outline: none;
}
.searchInputContainer:focus{
  border: 1px solid grey;
}
/* -------------------------------------- */
.parent-container{
    border-radius: 30px;
    background-color: white;
    min-height: calc(85vh);
}

.tableHeader{
    background-color: transparent;
    background-image: url('/assets/images/table_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: 900;
  }
  .search-box .has-search-box {
    margin-right: 0 !important;
    width: 83% !important;

  }
  .search-box .btns{
    width: 15%;
    height: 45px;
  }

  .btn-add{
    background-color: #3AA7CE;
    color: white;
  }
.select-size{
  padding: 0;
  display:table-row !important;    
  padding-left: 5px;
   padding-right: 5px;
   background-color:#FFFFFF;
   border: none;
   border-radius: 5px;
}
option{
  display:table-cell !important;
}
  .parentInActive{
    display: inline-block;
    background-color: #FFF0EB;
    color: #575757;
    padding: 5px 8px;
    border-radius: 8px;
  }
  .parentActive{
    display: inline-block;
    background-color: #E4F8FF;
    color: #575757;
    padding: 5px 8px;
    border-radius: 8px;
  }
  .parentInActive>span{
    display: inline-block;
    background-color: red;
    width: 7px;
    height: 7px;
    border-radius: 50% 50%;
    margin: 0px 5px;
  }
  .parentActive>span{
    display: inline-block;
    background-color: #3AA7CE;
    width: 7px;
    height: 7px;
    border-radius: 50% 50%;
    margin: 0px 5px;
  }

  .sonRecord{
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 7px 15px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .childernList{
    display: inline-block;
  }

  .blueBackground{
    width: 100%;
    background-color: #D0F3FF;
  }
  .dangerBackground{
    background-color: #FFD8BF;
  }
  .dropasd{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    padding-top: 10px;
  padding-bottom: 10px;
  left: 2%;
  background-color: white;
  z-index: 100;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 20px;
  }

  .dropdownlist2{
    top: 55%;
}
.showed,.disappear{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #E4F8FF;
    min-width: 90px;
}
.disappear{
    background-color: #FFF0EB;
}
.pageHeadr{
    background-size:  120px 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
/* ------------------------------------------------ */
.mainTitle{
    color: black;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 500;
}
.subTitleBold{
    font-size: 15px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.subTitleLight{
    color: #575757;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.websiteLogo{
    width: 150px;
    height: 100px;
    box-shadow: 1px 2px 5px black;
    background-color: white;
    border-radius: 10px;
    padding: 10px 5px;
    vertical-align: middle;
}
.input-box {
    display: inline-block;
    width: 100%;
    padding: 7px 20px;
    text-align: right;
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(104, 101, 101, 0.5);
    transition: all 0.2s linear;
}
.label-text{
    color: #575757;
    font-size: 15px;
}
.label-img{
    display: inline-block;
    margin: 0px auto;
}
.label-img img{
    display: inline-block;
    margin: 0px auto;
    width: 38px;
    height: 38px;
}

.locationSection{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin: 30px 0px;
  }




  .buttonContainer{
    position: relative;
    width: 100%;
    height: 45px;
    /* border: 1px solid blue; */
  }
  .searchContainer{
    position: absolute;
    left: 0px;
    top: 0px;
    /* border: 1px solid red; */
    width: 20%;
    height: 45px;
    border-radius: 15px 0px 0px 15px;
    background-color: #3AA7CE;
    color: white;
    font-size: 15px;
    margin: 0px auto;
  }
  .searchInputContainer{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid grey;
    width: 80%;
    height: 45px;
    border-radius: 0px 15px 15px 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    outline: none;
  }
  .searchInputContainer:focus{
    border: 1px solid grey;
  }
#tinymce {
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 0px;
    background-color: black !important;
    color: white !important;
}

.box{
    width: 60px;
    height: 60px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.20);
}

.availableFieldItem{
    position: relative;
    border-radius: 7px;
    background-color: white;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 12px;
    box-shadow: 0px 1px 7px rgb(192, 190, 190);
    margin-top: 25px;
}
.availableFieldItemInside{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 114px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.60);
    display: none;
    transition: all 1s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.availableFieldItem:hover .availableFieldItemInside{
    display: block;
}
.deleteLink,.updateLink{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #3AA7CE;
    border-radius: 7px;
    padding: 5px 8px;
    width: 90%;
    margin: 15px 5px 5px 5px ;
}
.deleteLink{
    background-color: #F06030;
}
/* ------------------------------extra--------------------------------- */
.navLinkItem{
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-align: center;
} 
.activeLink{
    font-weight: bold;
}