<h3>إدارة المحتوى :</h3>
<div class="row  toolbar-hi">
    <div class="col-1 me-4 active">
        الرئيسية
    </div>
    <div class="col-1">
        المستهدفون
    </div>
    <div class="col-1 me-4">
        المميزات
    </div>
    <div class="col-1">
        كيف نعمل
    </div>
    <div class="col-1">
        اعلان
    </div>
    <div class="col-1">
        الشركاء
    </div>
    <div class="col-1">
        اتصل بنا
    </div>
    <div class="col-2">
        سياسة الخصوصية
    </div>
</div>
<!-- <app-main-content></app-main-content> -->
<app-targeteds></app-targeteds>