
<div class="caontainer-fluid">
    <div class="row">
        <div class="col-12">
                <div class="row groupTitle">
                    <div class="col-11 fs-6">اختر المجموعة المناسبة : </div>
                    <div class="col-1"><a routerLink="#" class="d-inline-block"><img src="/assets/images/x_white.svg" /></a></div>
                </div>
                <div class="row mt-4 text-center popupContainer">
                    <div class="col-6">
                        <a class="printType">
                            <div><img src="assets/images/excel.svg" width="30px" height="30px"></div>
                            <div class="text-center">اكسيل</div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="printType excelType" >
                            <div><img src="assets/images/pdf.svg" width="30px" height="30px"></div>
                            <div class="text-center">pdf</div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>
