
.groups .group {
    display: inline-block;
    width: 23%;
    height: 200px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 2.0%;
    margin-bottom: 2%;
}

.groups .group .heading {
    width: 100%;
    height: 20%;
  text-align: left;
}

.groups .group .heading span {
    padding-left: 1vw;
    color: #3AA7CE;
    text-align: center;
    font-size: 17px;
}

.groups .group .left {
   
    width: 45%;
    height: 100%;
    float: left;
    padding-right: 1.5vw;
    text-align: right;
}

.groups .group .right {
   
    width: 45%;
    float: right;
    height: 100%;
    text-align: left;
}

.groups .group .right p {
    font-size: 13px;
    color: grey;
    
}

.groups .group .left p {
    font-size: 14px;
    font-weight: bold;
    
}
@media screen and (max-width: 1100px) {
    .groups .group {
        width: 30%;
        
    }
}
@media screen and (max-width: 800px) {
    .groups .group {
        width: 30%;
        
    }
    .groups .group .heading span {
        font-size: 12px;
    }
    .groups .group .left p {
        font-size: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    .groups .group {
        width: 45%;
    }
  }


  /* ------------------------------------------------------------------- */

  .cardGroupItem{
    background-color: white;
    border-radius: 20px;
    /* width: 100%; */
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.cardGroupItem img{
    width: 100%;
}

.groupItemContainer{
    padding: 15px 10px;
    border-radius: 10px;
    background-color: white;
    background-image: url('/assets/images/group.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 60px 60px;
    margin-bottom: 20px;
}