<div class="container dx">
    <div class="row">
        <div class="col-4">
            <img src="assets/images/student.png" width="50px" alt="student.png">
        </div>
        <div class="col-8" style="padding-right: 30px;">
            <p style="line-height: 10px;">فهد ناصر</p>
            <p>fahad</p>
        </div>
    </div>
    <div class="row dm">
        <div class="col-5">
            رقم الهاتف
        </div>
        <div class="col-7">
            0123456789
        </div>
    </div>
    <div class="row dm">
        <div class="col-5">
            العنوان
        </div>
        <div class="col-7">
            بريدة_حي الملز
        </div>
    </div>

    <div class="row dm">
        <div class="col-5">
            المجموعة
        </div>
        <div class="col-7">
            المجموعة الثانية
        </div>
    </div>
</div>