<div class="main-index">
    <div class="left-div">
        <div class="image">
            <img src="assets/images/bg_index.png" alt="">
        </div>
        <div #dialog class="under-image">
            <!-- src="assets/images/message.svg" -->
            <img [src]="imageSource" (click)="openDialog()" alt="logo" class="logo">
            <span (click)="openDialog()">Busway مرحباً بك في باص واي </span>
        </div>
    </div>
    <div class="right-div text-center">
        <img class="logo" src="assets/images/newpassword.svg" alt="logo">
        <div class="mt-4">
            <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                <h3>تغيير كلمة المرور</h3>
                <div class="form-group">
                <div class="input-box">
                    <label for="currentPassword">كلمة المرور الحالية</label>
                    <input  [type]="showInput1?'text':'password'" formControlName="currentPassword" id="currentPassword" name="currentPassword" spellcheck="false" required />
                  
                    <i class="uil uil-eye-slash toggle1" (click)="toggle1()"></i>
                </div>
                <div class="mt-4 text-danger" *ngIf="resetPassword.get('currentPassword')!.invalid && (resetPassword.get('currentPassword')!.dirty || resetPassword.get('currentPassword')!.touched)">
                    <div *ngIf="resetPassword.get('currentPassword')!.errors!['required']">Current Password is required.</div>
                    <div *ngIf="resetPassword.get('currentPassword')!.errors!['minlength']">Current Password must be at least 8 characters long.</div>
                  </div>
                </div>
                <div class="form-group">
                <div class="input-box">
                    <label for="newPassword">كلمة المرور الجديدة</label>
                    <input  [type]="showInput2?'text':'password'" formControlName="newPassword" id="newPassword" name="newPassword" spellcheck="false" required />
                   
                    <i class="uil uil-eye-slash toggle2" (click)="toggle2()"></i>
                </div>
                <div class="mt-4 text-danger" *ngIf="resetPassword.get('newPassword')!.invalid && (resetPassword.get('newPassword')!.dirty || resetPassword.get('newPassword')!.touched)">
                    <div *ngIf="resetPassword.get('newPassword')!.errors!['required']">New Password is required.</div>
                    <div *ngIf="resetPassword.get('newPassword')!.errors!['minlength']">New Password must be at least 8 characters long.</div>
                  </div>
                </div>
                <div class="form-group">
                <div class="input-box">
                    <label for="repeatPassword">تأكيد الكلمة الجديدة</label>
                    <input  [type]="showInput3?'text':'password'" formControlName="repeatPassword" name="repeatPassword" id="repeatPassword" spellcheck="false" required />
                  
                    <i class="uil uil-eye-slash toggle3" (click)="toggle3()"></i>
                </div>
                <div class="text-danger mt-4" *ngIf="resetPassword.get('repeatPassword')!.invalid && (resetPassword.get('repeatPassword')!.dirty || resetPassword.get('repeatPassword')!.touched)">
                    <div *ngIf="resetPassword.get('repeatPassword')!.errors!['required']">Confirm Password is required.</div>
                    <div *ngIf="resetPassword.get('repeatPassword')!.errors!['minlength']">Repeat Password must be at least 8 characters long.</div>
                    <div *ngIf="resetPassword.get('repeatPassword')!.errors!['compareWith']">Passwords do not match.</div>
                  </div>
                </div>
                <br>
                <button class="rounded-button" type="submit" [disabled]="resetPassword.invalid">حفظ التغييرات</button>
                <p>لعودة إلى  <a routerLink="/login" style="color: blue;">الصفحة السابقة</a></p>
            </form>

        </div>
    </div>
</div>