<div class="main-index">
    <div class="left-div">
        <div class="image">
            <img src="assets/images/bg_index.png" alt="">
        </div>
        <div #dialog class="under-image">
            <!-- src="assets/images/message.svg" -->
            <img [src]="imageSource" (click)="openDialog()" alt="logo" class="logo">
            <span (click)="openDialog()">Busway مرحباً بك في باص واي </span>
        </div>
    </div>
    <div class="right-div text-center">
        <img class="logo" src="assets/images/newpassword.svg" alt="logo">
        <div class="mt-4">
            <form>
                <h3>تغيير كلمة المرور</h3>
                <div class="input-box">
                    <label for="">كلمة المرور الحالية</label>
                    <input  type="password" spellcheck="false" required />
                    <i class="uil uil-eye-slash toggle"></i>
                </div>
                
                <div class="input-box">
                    <label for="">كلمة المرور الجديدة</label>
                    <input  type="password" spellcheck="false" required />
                    <i class="uil uil-eye-slash toggle"></i>
                </div>
                <div class="input-box">
                    <label for="">تأكيد الكلمة الجديدة</label>
                    <input  type="password" spellcheck="false" required />
                    <i class="uil uil-eye-slash toggle"></i>
                </div>
                <br>
                <button class="rounded-button">حفظ التغييرات</button>
                <p>لعودة إلى  <a routerLink="/login" style="color: blue;">الصفحة السابقة</a></p>
            </form>

        </div>
    </div>
</div>