<div class="container-fluid parent-container">
    <div class="topHeaderContainer">
    <div class="row" style="padding: 30px 30px 10px 30px;">
        <div class="col-12 col-md-4">
            <h3 class="fw-bolder float-end" style="font-size: 18px;">طلبات الدعم الفني<span class="users-count">{{total}} طلب</span></h3>
        </div>
        <div class="col-12 col-md-4 float-start">
           
        </div>
    </div>
    <div class="row mt-2 mb-5 " style="padding: 0px 30px;">
        <div class="col-12 col-md-5">
            <a routerLink="/school/new-ask" class="text-muted"><div class="action-button" style="background-color: #3AA7CE;"><img src="assets/images/add.png" alt="">طلب جديد </div></a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-12 col-md-5 text-start">
            <div class="search-box">
                <div class="form-group has-search-box">
                    <span class="form-control-feedback">
                        <img src="assets/images/Search.svg" alt="">
                    </span>
                    <input type="text" name="parent_search-box" id="parent_search-box" [(ngModel)]="searchKeyword" (input)="filterData()" class="form-control bg-white" placeholder="ابحث عن طلب ">
                </div>
                <div class="btns">
                    <img src="assets/images/Filter.svg" alt="" (click)="toggleSchoolAccountDropDown()" class="schoolLogoButtton">
                    <div *ngIf="isSchoolAccountDropdownVisible" class="dropdownlist2 p-2">
                       <div class="row">
                        <div class="col-6 mt-2 text-end">
                            <label for="radio_1">
                                <input type="radio" id="radio_1" name="searchBy" value="name" [(ngModel)]="filterType" (change)="filterData()" class="radioButton">اسم المرسل
                            </label>
                        </div>
                        <div class="col-6 mt-2 text-end">
                            <label for="radio_2">
                                <input type="radio" id="radio_2" name="searchBy" value="title" [(ngModel)]="filterType" (change)="filterData()" class="radioButton"> عنوان الطلب
                            </label>
                        </div>
                       </div>
                       <hr/>
                       <div class="row">
                        <div class="col-4 pt-2">تاريخ الاضافة</div>
                        <div class="col-8">
                            <input type="date" name="addDate" [(ngModel)]="date" (change)="filterData()" class="form-control datepicker dateInput">
                        </div>
                       </div>
                       <hr>
                       <div class="row">
                        <div class="col-4">
                            <label for="active">
                                <input type="radio" id="active" name="enable" value="true" (change)="filterData()" [(ngModel)]="isActive" class="radioButton"> تم الرد 
                            </label>
                        </div>
                        <div class="col-5">
                            <label for="inactive">
                                <input type="radio" id="inactive" name="enable" value="false" (change)="filterData()" [(ngModel)]="isActive" class="radioButton"> لم يتم الرد 
                            </label>
                        </div>
                        <div class="col-3"></div>
                       </div>
                       
                    </div>
                </div>
            </div>   
        </div>
    </div>
    </div>
    <div>
        <table class="table table">
            <tr class="tableHeader">
                <td><input class="form-check-input fs-5" type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"  id="checkbox-all" /></td>
                <td>الطلب  <select name="pageSize" id="pageSize" [(ngModel)]="pageSize" class="select-size">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select></td>
                  <td>تاريخ الطلب</td>
                  <td>حالة الطلب</td>
                <td>التحكم</td>
            </tr>
             <tr class="mt-3">
                <td colspan="7"></td>
             </tr>
            <tbody *ngFor="let item of help_data | paginate: 
                { id: 'foo', itemsPerPage: pageSize, currentPage: pageNo, totalItems: total };let i = index">
                <tr id="first_{{i}}">
                    <td><input class="form-check-input fs-5" type="checkbox" [(ngModel)]="item.isSelected" (change)="checkBoxChange()" id="checkbox-{{i}}" /></td>
                    <td>{{item.title}}</td>
                    <td>{{item.date}}</td>
                     <td>
                         <!-- anther image called replay.svg -->
                         <div class="d-inline-block text-end">
                            <span class="text-start px-4 d-inline-block"> {{item.status?'فعـــــال':'غير فعال'}} </span>
                        </div>
                        <div class="d-inline-block text-end">
                            <img class="  d-inline-block" src="assets/images/{{item.status?'replay.svg':'no-replay.svg'}}" alt="no-replay">
                        </div>
                    </td>
                    <td>
                        <a routerLink="#"  (click)="openDialogDetails()" class="d-inline-block ms-2"> <img src="assets/images/info.svg"  width="20px" height="20px" alt=""> </a>
                        <a routerLink="#" class="d-inline-block"> <img src="assets/images/lock.svg" width="20px" height="20px" alt=""> </a>
                    </td>
            </tbody>
        </table>
    </div>
    <div class="row my-5 m-0">
        <div class="d-flex align-items-center justify-content-center">
            <pagination-controls (pageChange)="pageNo = $event" id="foo" nextLabel="" previousLabel=""></pagination-controls>
        </div>
    </div>
</div>