<div class="container-fluid">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-3">
        </div>
        <div class="col-12 col-md-6">
            <div class="mainSection">
                <div class="text-center pb-4">
                    <img src="assets/images/changePassword.svg">
                <h2>تغيير كلمة المرور</h2>
                </div>
                <div class="inputIcons">
                    <label for="oldPassword" class="defaultLabel">كلمة المرور القديمة</label>
                    <img (click)="old = !old" src="/assets/images/{{old?'Show.svg':'Hide.svg'}}">
                    <input class="inputField" type="{{old?'text':'password'}}" name="oldPassword" id="oldPassword" formControlName="oldPassword" placeholder="">
                </div>
                <div class="inputIcons">
                    <label for="newPassword" class="defaultLabel">كلمة المرور الجديدة</label>
                    <img (click)="newPwd = !newPwd" src="/assets/images/{{newPwd?'Show.svg':'Hide.svg'}}">
                    <input class="inputField"  (blur)="checkMatch()" type="{{newPwd?'text':'password'}}" name="newPassword" id="newPassword" formControlName="newPassword" placeholder="">
                </div>
                <div class="inputIcons mb-0 pb-0" >
                    <label for="confirmPassword" class="defaultLabel">تأكيد كلمة المرور</label>
                    <img (click)="confirm=!confirm" src="/assets/images/{{confirm?'Show.svg':'Hide.svg'}}">
                    <input class="inputField" (blur)="checkMatch()"  type="{{confirm?'text':'password'}}" name="confirmPassword"  id="confirmPassword" formControlName="confirmPassword"  placeholder="">
                </div>
                <span *ngIf="!isMAtch" class="text-danger" style="font-size: 12px;">الكلمتان غير متطابقتان</span>
                <button class="saveButton my-3">حفظ التغييرات</button>
                <div class="mt-3 text-center">
                    <span>العودة الى <a class="text-decoration-none" routerLink="/school/home">الصفحة السابقة</a></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
</form>
</div>