<div class="container-fluid m-0 p-0">
    <div class="head-nav p-2">
        <a (click)="closeDialog()" class="border-0"> <img src="assets/images/closeD.svg" alt=""></a>
        <span class="float-end me-2 text-white large">: المشرفين</span>
    </div>
    <div class="clear-both  row p-0 m-0">
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12 col-md-6 pt-2">
            <p class="text-end">اجمالي عدد المشرفين لمدرسة س :  <span class="fw-bold">5</span></p>
            <hr class="mt-2">
        </div>
        <div class="text-end mb-4">
            <div class="shadow d-inline-block p-2 border ms-4">
                <img src="assets/images/minus.svg"  class="float-start minus mt-1" width="20px" height="20px" alt="">
               
                    <span class="me-2">محمد محمود محمود محمود</span>
                    <img src="assets/images/user.png" width="30px" height="30px" alt="">
                
               
            </div>
            <div class="shadow d-inline-block p-2 border ms-4 ">
                <img src="assets/images/minus.svg"  class="float-start minus mt-1" width="20px" height="20px" alt="">
               
                    <span class="me-2">سالم أحمد</span>
                    <img src="assets/images/user.png" width="30px" height="30px" alt="">
                
               
            </div>

           <div class="shadow d-inline-block p-2 border ms-4 ">
                <img src="assets/images/minus.svg"  class="float-start minus mt-1" width="20px" height="20px" alt="">
               
                    <span class="me-2">سالم أحمد</span>
                    <img src="assets/images/user.png" width="30px" height="30px" alt="">
                
               
            </div>

            <div class="shadow d-inline-block p-2 border ms-4 mt-4">
                <img src="assets/images/minus.svg"  class="float-start minus mt-1" width="20px" height="20px" alt="">
               
                    <span class="me-2">سالم أحمد</span>
                    <img src="assets/images/user.png" width="30px" height="30px" alt="">
                
               
            </div>
        </div>
        <div class="text-center mb-4">
            
            <button (click)="closeDialog()"  class="btn btn-out border me-4">
                إلغاء
            </button>
            <button class="btn btn-save">
                حفظ
            </button>

        </div>
    </div>
</div>