<div class="main-home">
    <div class="aside-menu">
        <img src="assets/images/logo-menu.png" alt="logo-menu">
        <div class="bg-menu">
            <div class="right">
                <p class="text-center">لوحة التحكم</p>
            </div>
            <div class="left">
                <img src="assets/images/menu.svg" alt="">
            </div>
        </div>
        <hr>
        <div class="items">
            <a routerLink="/welcome" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
                <div class="row-item">
                    <img src="assets/images/tracking.svg" alt="">
                    <span>لوحة التحكم</span>
                </div>
            </a>
            <a routerLink="/home" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
                <div class="row-item">
                    <img src="assets/images/tracking.svg" alt="">
                    <span>تتبع الرحلات</span>
                </div>
            </a>
            <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item">
                <img src="assets/images/students.svg" alt="">
                <span> الطلاب </span>
            </div>
        </a>
        <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item">
                <img src="assets/images/parents.svg" alt="">
                <span>أولياء الأمور</span>
            </div>
        </a>
        <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item">
                <img src="assets/images/bus.svg" alt="">
                <span>الباصات و المشرفين</span>
            </div>
        </a>
        <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item">
                <img src="assets/images/trips.svg" alt="">
                <span>الرحلات و المجموعات</span>
            </div>
        </a>
        <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item">
                <img src="assets/images/ads.svg" alt="">
                <span>الإعلانات</span>
            </div>
        </a>
        <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item">
                <img src="assets/images/notifications.svg" alt="">
                <span>الإشعارات</span>
            </div>
        </a>
        <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item">
                <img src="assets/images/absent.svg" alt="">
                <span>طلبات الغياب</span>
            </div>
        </a>
        <a routerLink="#" routerLinkActive="bg-menu" class="text-decoration-none text-dark">
            <div class="row-item help">
                <!-- <img src="assets/images/noti.svg" class="noti" alt=""> -->
                <span class="noti d-flex align-items-center">3</span>
                <img src="assets/images/help.svg" alt="">
                <span>الدعم الفني</span>
            </div>
            </a>
        </div>
    </div>
 
</div>