<h3>تم التسليم إلى :</h3>
<div>
    <span class="item">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>
</div>

<div class="container ">
    <div class="row">
        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-6">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                    </div>
                    <div class="col-3">
                        <img class="minus" src="assets/images/minus.svg" alt="flow.svg">
                    </div>
                </div>
            </div>
        </div>
       
    </div>


</div>

<div class="container-text mt-2 mb-4">
    <div class="row m-0 p-0">
        <div class="col-2">

        </div>
        <div class="col-4">
            <div class="btn-rounded d-flex align-items-center justify-content-center">
                إرسال 
            </div>
        </div>
        <div class="col-4">
            <div class="btn-outline d-flex align-items-center justify-content-center">
                إلغاء
            </div>
        </div>
    </div>
</div>