<div class="container">
    <div>
        <img src="assets/images/close-dark.svg" alt="">
    </div>
    <div class="row p-0 m-0">
        <div class="col-4">
            <img src="assets/images/student-left.png" width="100%" height="150px" alt="">
        </div>
        <div class="col-4 text-center pt-4">
                <img src="assets/images/student.png" width="70px" alt="">
                <h3>فهد ناصر</h3>
                <a routerLink="/school/account-user" style="color: #3AA7CE;">fahad</a>
        </div>
        <div class="col-4">
            <img src="assets/images/student-right.png" width="100%" height="150px"  alt="">
        </div>
    </div>
   
    <div class="row p-0 m-0">
        <div class="col-6">
                <div class="" >
                    <div class="input-box-d text-end">
                        <label for="name">البريد الالكتروني</label>
                        <div class="emial-input-d"  type="text" name="name" id="name" formControlName="name" spellcheck="false" placeholder=""
                            required>
                            n77h@hotmail.com</div>
                        <div class="icon-email-d"> 
                            <img src="assets/images/email.svg" alt="name">
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-6">
            <div class="" >
                <div class="input-box-d text-end">
                    <label for="name">رقم المستخدم</label>
                    <div class="emial-input-d"  type="text" name="name" id="name" formControlName="name" spellcheck="false" placeholder=""
                        required>
                        1111111111</div>
                    <div class="icon-email-d"> 
                        <img src="assets/images/Exit.svg" alt="name">
                    </div>
                </div>
        </div>
    </div>
       
    </div>
    <div class="row p-0 m-0">
        <div class="col-6">
                <div class="" >
                    <div class="input-box-d text-end">
                        <label for="name">العنوان</label>
                        <div class="emial-input-d"  type="text" name="name" id="name" formControlName="name" spellcheck="false" placeholder=""
                            required>
                            حي الملز</div>
                        <div class="icon-email-d"> 
                            <img src="assets/images/Location.svg" alt="name">
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-6">
            <div class="" >
                <div class="input-box-d text-end">
                    <label for="name">رقم الهاتف</label>
                    <div class="emial-input-d"  type="text" name="name" id="name" formControlName="name" spellcheck="false" placeholder=""
                        required>
                        0123456789</div>
                    <div class="icon-email-d"> 
                        <img src="assets/images/Call.svg" alt="name">
                    </div>
                </div>
        </div>
    </div>
       
    </div>
    <div class="row p-0 m-0">
        <div class="col-6">
                <div class="" >
                    <div class="input-box-d text-end">
                        <label for="name">المجموعة</label>
                        <div class="emial-input-d"  type="text" name="name" id="name" formControlName="name" spellcheck="false" placeholder=""
                            required>
                            المجموعة الثانية</div>
                        <div class="icon-email-d"> 
                            <img src="assets/images/3 User.svg" alt="name">
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-6">
            <div class="" >
                <div class="input-box-d text-end">
                    <label for="name">المدينة</label>
                    <div class="emial-input-d"  type="text" name="name" id="name" formControlName="name" spellcheck="false" placeholder=""
                        required>
                        بريدة</div>
                    <div class="icon-email-d"> 
                        <img src="assets/images/city.svg" alt="name">
                    </div>
                </div>
        </div>
    </div>
       
    </div>
</div>
