.leftImage,.rightImage{
  background-image: url('/assets/images/student-left.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.rightImage{
    background-image: url('/assets/images/student-right.png');
}
.imageContainer{
  width: 100px;
  height: 100px;
}
