<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#01</td>
            <td>Name #001</td>
            <td>email#01@gmail.com</td>
            <td><a href="#" class="btn btn-success">*</a></td>
        </tr>
        <tr>
            <td colspan="4">01 dkjdhjd dhdjhdjkd kdjhjdhjdkhd kjdhjdhjdk kjdhdjhdjhd kjhdjdkhjdk kjdhjdhjd kjhdjhdkd kjhdjdkdjd</td>
        </tr>
        <tr>
            <td>#01</td>
            <td>Name #001</td>
            <td>email#01@gmail.com</td>
            <td><a href="#" class="btn btn-success">*</a></td>
        </tr>
        <tr>
            <td>#01</td>
            <td>Name #001</td>
            <td>email#01@gmail.com</td>
            <td><a href="#" class="btn btn-success">*</a></td>
        </tr>
    </tbody>
</table>
