<google-map height="500px"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker  #marker="mapMarker" *ngFor="let markerPosition of markerPositions; index as i"
              [position]="markerPosition"
              [icon]="i%2==0?markerIcon:markerIcon_green"
             
             ></map-marker>
             
</google-map>


<div class="container row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="rounded-button text-center" >
            إنهاء الرحلة
            </div>
    </div>
    <div class="col-4"></div>
    </div>