<div>
    <div>
        <img src="assets/images/close-dark.svg" alt="" (click)="closeDialog()" style="cursor: pointer;">
        <p style="text-align: center;">هل أنت متأكد من حذف <span style="color: red; font-weight: bold;">سالم أحمد</span> من قائمة الطلاب ؟</p>
    </div>

    <div class="row p-0 m-0 mb-2">
        <div class="col-md-2 col-0">

        </div>
        <div class="col-md-4 col-12">
            <div class="btn-red">
                إزالة
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="btn-cancel">
                إلغاء
            </div>
        </div>

        <div class="col-md-2 col-0">

        </div>
    </div>
</div>