<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-12 col-md-3"></div> -->
        <div class="col-12 col-md-12">
            <div class="groupTitle">
                <div class="row">
                    <div class="col-11 fs-6">اختر المجموعة المناسبة : </div>
                    <div class="col-1"><a routerLink="#" class="d-inline-block"><img src="/assets/images/x_white.svg" /></a></div>
                </div>
            </div>
            <div class="popupContainer">
                <div class="row">
                    <div *ngFor="let item of groups" class="col-6 pt-3">
                        <div class="d-flex justify-content-start">
                            <input type="checkbox" class="d-inline-block" [(ngModel)]="item.isChecked" value="true"> <span class="pe-3">{{item.name}}</span>
                          </div>
                    </div>
                </div>
                <div class="row pt-5 pb-3">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button class="saveButton p-2">بحث</button>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 col-md-3"></div> -->
    </div>
</div>
