<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="welcomeBack">
                <h1 class="fs-4 mt-3">مرحباً بعودتــــك</h1>
                <h3 class="fs-3 mt-4 fw-bolder">أ . نايف</h3>
                <a routerLink="#" class="text-decoration-none text-white"><h4 class="mt-3">انتقل للإطلاع على التقارير <img src="assets/images/ArrowLeft.png" width="30" height="30"  alt=""></h4></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wrapper" #cardsContainer>
         <div *ngFor="let item of statisctics" class="item">
            <div class="row  d-flex justify-content-center align-items-center">
                <div class="col-5">
                    <img src="{{item.image}}" width="60" height="60" class="mb-4">
                </div>
                <div class="col-7">
                    <h3 class="m-0 p-0 text-muted">{{item.label}}</h3>
                    <h2 class="fw-bolder">{{item.count}}</h2>
                </div>
            </div>
         </div>    
        </div>
    </div>
</div>
