
<div class="main-index">
    <div class="left-div">
        <div class="image">
            <img src="assets/images/register.png" alt="">
        </div>
        <div #dialog class="under-image">
            <!-- src="assets/images/message.svg" -->
            <img [src]="imageSource" alt="logo" class="logo">
            <span (click)="openDialog()">Busway مرحباً بك في باص واي </span>
        </div>
    </div>
    <div class="right-div text-center">
        <img class="logo" src="assets/images/logo.svg" alt="logo">
        <br />
        <img src="assets/images/logo_txt.svg" alt="logo_txt" class="logo_txt">
        <div >
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
                <h5>تسجيل جديد <span>للمدارس فقط</span></h5>
                <div class="input-box">
                    <label for="nameInArabic">الاسم بالعربية</label>
                    <input type="text" spellcheck="false" formControlName="nameInArabic" name="nameInArabic" id="nameInArabic" placeholder="ادخل اسم المدرسة باللغة العربية" >
                </div>

                <div class="input-box">
                    <label for="nameInEnglish">الاسم بالانجليزية</label>
                    <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
                </div>
               
                <!-- <div class="input-box">
                    <label for="">رقم الهاتف</label>
                    <input type="text" formControlName="phone" name="phone" id="phone" />
                     <i class="uil uil-eye-slash"> <span class="fst-normal px-4 pe-0 fs-3">|</span> </i>
                </div> -->

                <div class="input-box">
                    <label for="phone">رقم الهاتف</label>
                   
                <!-- <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.SaudiArabia"
                [maxLength]="15"
                (countryChange)="onCountrySelected($event)"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                name="phone"
                formControlName="phone"
                id="phone"
              >
              </ngx-intl-tel-input> -->
              <div class="code-phone">
                +{{countryCode}}  
            </div>
            
        </div>
        <div class="input-box">
            <label for="email">البريد الالكتروني</label>
            <input class="email-input" type="text" formControlName="email" name="email" id="email" spellcheck="false" placeholder="name@gmail.com" >
            <div class="icon-email">
                <img src="assets/images/email.svg" alt="email">
            </div>
        </div>

        <div class="input-box">
            <label for="address">العنوان كاملا</label>
            <input type="text" spellcheck="false" formControlName="address" name="address" id="address" placeholder="ادخل اسم المدرسة باللغة الانجليزية">
            <div class="location">
                <img src="assets/images/Location.svg" alt="locations"> 
            </div>
        </div>
                <!-- <div class="input-box">
                    <label for="">{{label2}}</label>
                    <input *ngIf="showContainer==true" type="password" spellcheck="false" required />
                    <input *ngIf="showContainer==false" type="text" spellcheck="false" required>
                    <i *ngIf="showContainer==true" class="uil uil-eye-slash toggle"></i>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4" >
                    <p *ngIf="showContainer">
                        <a routerLink="/forgot-password">نسيت كلمة المرور ؟</a>
                    </p>
                    <mat-checkbox *ngIf="showContainer" class="example-margin" dir="rtl">تذكرني</mat-checkbox>
                </div>
                <p class="hint" *ngIf="!showContainer" >سوف تصلك رسالة عل البريد الالكتروني / رقم الهاتف بكلمة المرور الجديدة</p> -->
                <br/>
                <button class="rounded-button" [value]="labelSubmit">{{labelSubmit}}</button>
                <p class="register-link">لدي حساب ؟ <a>تسجيل دخول</a></p>
            </form>

        </div>
    </div>
</div>