<div class="container ">
    <div class="row vh-100 d-flex align-items-center justify-content-center">
      <div class="col-md-6 text-center ">
        <img src="assets/images/logo_busway.svg" alt="Page Not Found" width="80%" class="img-fluid mb-3">
        <h1 class="mb-3">باص واى , BusWay</h1>
        <p class="lead">اهلا و سهلا بك فـــى ,, الموقع الرسمى لــــ باص واى  .</p>
        <div class="row">
            <div class="col-12 col-md-4 mb-2"><a routerLink="/admin/home" class="saveButton mt-3">الأدمن</a></div>
            <div class="col-12 col-md-4 mb-2"><a routerLink="/agent/home" class="saveButton mt-3">الوكيل</a></div>
            <div class="col-12 col-md-4 mb-2"><a routerLink="school/home" class="saveButton mt-3">المدارس</a></div>
      </div>
      </div>
      
    </div>
  </div>
