<div class="container-fluid parent-container">
    <div class="topHeaderContainer">
    <div class="row" style="padding: 30px 30px 10px 30px;">
        <div class="col-12 col-md-4">
            <h3 class="fw-bolder float-end" style="font-size: 18px;">إدارة الغيابات<span class="users-count">{{total}} مستخدم</span></h3>
        </div>
        <div class="col-12 col-md-4 float-start">
           
        </div>
    </div>
    <div class="row mt-2 mb-5 " style="padding: 0px 30px;">
        <div class="col-12 col-md-8">
            <a routerLink="/school/new-absence-order" class="text-muted"><div class="action-button" style="background-color: #3AA7CE;"><img src="assets/images/add.png" alt="">إضافة غياب</div></a>
            <a routerLink="/school/profile" class="text-muted"><div class="action-button"><img src="assets/images/Edit.svg" alt="">تعديل </div></a>
            <a routerLink="#" class="text-muted"><div class="action-button"><img src="assets/images/Delete.svg" alt="">حذف </div></a>
            <a routerLink="#" class="text-muted"><div class="action-button"><img src="assets/images/print.svg" alt="">طباعة </div></a>
            <a routerLink="#" class="text-muted"><div class="action-button"><img src="assets/images/excel.svg" alt="">إكسل </div></a>
            <a routerLink="#" class="text-muted"><div class="action-button"><img src="assets/images/pdf.svg" alt="">pdf </div></a>
        </div>
        <!-- <div class="col-md-2"></div> -->
        <div class="col-12 col-md-4 text-start">
            <div class="search-box">
                <div class="form-group has-search-box">
                    <span class="form-control-feedback">
                        <img src="assets/images/Search.svg" alt="">
                    </span>
                    <input type="text" name="parent_search-box" id="parent_search-box" class="form-control bg-white" placeholder="ابحث عن طلب ">
                </div>
                <div class="btns">
                    <img src="assets/images/Filter.svg" alt="" (click)="toggleSchoolAccountDropDown()" class="schoolLogoButtton">
                    <div *ngIf="isSchoolAccountDropdownVisible" class="dropdownlist2 p-2">
                       <div class="row">
                        <div class="col-5 mt-2 text-end" style="font-size: 12px;">
                            <label for="radio_1">
                                <input type="radio" id="radio_1" name="searchBy" value="relativeName" class="radioButton">اسم الطالب
                            </label>
                        </div>
                        <div class="col-7 mt-2 text-end">
                            <label for="radio_2">
                                <input type="radio" id="radio_2" name="searchBy" value="userNumber" class="radioButton">  أضيف بواسطة من
                            </label>
                        </div>
                       </div>
                       <hr/>
                       <div class="row pb-2">
                        <div class="col-4 pt-2">تاريخ الاضافة</div>
                        <div class="col-8">
                            <input type="date" name="addDate" class="form-control datepicker dateInput">
                        </div>
                        <hr class="mt-3">
                        <div class="col-4 pt-2">تاريخ الاضافة</div>
                        <div class="col-8">
                            <input type="date" name="addDate" class="form-control datepicker dateInput">
                        </div>
                        <hr class="mt-3">
                        <div class="col-4 pt-2">تاريخ الاضافة</div>
                        <div class="col-8">
                            <input type="date" name="addDate" class="form-control datepicker dateInput">
                        </div>
                       </div>
                       
                    </div>
                </div>
            </div>   
        </div>
    </div>
    </div>
    <div>
        <table class="table table">
            <tr class="tableHeader">
                <td><input class="form-check-input fs-5" type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"  id="checkbox-all" /></td>
                <td>الطالب  <select name="pageSize" id="pageSize" [(ngModel)]="pageSize" class="select-size">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select></td>
                  <td>من تاريخ</td>
                  <td>الى تاريخ</td>
                  <td>السبب</td>
                  <td>تم بواسطة</td>
                <td>تاريخ الإضافة</td>
            </tr>
             <tr class="mt-3">
                <td colspan="7"></td>
             </tr>
            <tbody *ngFor="let item of absence_data | paginate: 
                { id: 'foo', itemsPerPage: pageSize, currentPage: pageNo, totalItems: total };let i = index">
                <tr id="first_{{i}}">
                    <td><input class="form-check-input fs-5" type="checkbox" [(ngModel)]="item.isSelected" (change)="checkBoxChange()" id="checkbox-{{i}}" /></td>
                    <td><img src="{{item.image}}" width="25" height="25" class="ms-2" alt=""> {{item.studentName}}</td>
                    <td>{{item.from}}</td>
                    <td>{{item.to}} </td>
                    <td>{{item.reason}}</td>
                    <td>{{item.by}}</td>
                    <td>{{item.createdAt}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row my-5 m-0">
        <div class="d-flex align-items-center justify-content-center">
            <pagination-controls (pageChange)="pageNo = $event" id="foo" nextLabel="" previousLabel=""></pagination-controls>
        </div>
    </div>
</div>