.dropdownlist2{
    top: 0% !important;
    left: 0% !important;
}
.topHeaderContainer{
    background-image: url('/assets/images/absence.svg');
    background-position: 18% 70%;
    background-size: 60% 60%;

    background-repeat: no-repeat;
}