<div class="container-fluid parent-container">
    <div class="row" style="padding: 30px 30px 10px 30px;">
        <div class="col-12 col-md-6">
            <h3 class="fw-bolder float-end" style="font-size: 18px;">بيانات الطلاب : <span class="users-count">{{total}}
                    مستخدم</span></h3>
        </div>
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-4 float-start">
            <div class="search-box">
                <div class="form-group has-search-box">
                    <span class="form-control-feedback">
                        <img src="assets/images/Search.svg" alt="">
                    </span>
                    <input type="text" name="parent_search-box" id="parent_search-box" class="form-control bg-white" placeholder="ابحث عن طالب">
                </div>
                <div class="btns">
                    <img src="assets/images/Filter.svg" id="drop_filter"  alt="" #trigger (click)="showOverlay()" class="schoolLogoButtton">
                    <ng-template #overlayTemplate>
                        <div class="positioned-element" dir="rtl">
                    <div *ngIf="isSchoolAccountDropdownVisible" id="dropMenu" class="dropdownlist2 p-4">
                       <div class="row">
                        <div class="col-6 mt-2 text-end">
                            <label for="radio_1">
                                <input type="radio" id="radio_1" name="searchBy" value="relativeName" class="radioButton"> اسم  الطالب
                            </label>
                        </div>
                        <div class="col-6 mt-2 text-end">
                            <label for="radio_2">
                                <input type="radio" id="radio_2" name="searchBy" value="userNumber" class="radioButton"> رقم المستخدم
                            </label>
                        </div>
                       </div>
                       <hr/>
                       <div class="row">
                        <div class="col-4 pt-2">تاريخ الاضافة</div>
                        <div class="col-8">
                            <input type="date" name="addDate" class="form-control datepicker dateInput">
                        </div>
                       </div>
                       <hr>
                     
                       <div class="row">
                        <div class="col-6 mt-2 text-end">
                            <label for="radio_1">
                                <input type="radio" id="radio_1_1" name="enable" value="active" class="radioButton"> فعال 
                            </label>
                        </div>
                        <div class="col-6 mt-2 text-end">
                            <label for="radio_2">
                                <input type="radio" id="radio_1_2" name="enable" value="inActive" class="radioButton"> غير فعال 
                            </label>
                        </div>
                       </div>
                       <hr>
                       <div class="row pb-3">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 text-end">
                                    <label for="groupName" class="pb-2 text-muted d-inline-block ">حدد المجموعة : </label>
                                </div>
                            </div>
                            <div class="menu_group">
                                <img src="assets/images/menu_groups.svg" alt="" (click)="openDialogSelectGroup()">
                            </div>
                            <!-- <select class="d-inline-block pt-1 w-100" style="border-radius: 5px;border: .1px solid #575757;" name="groupName" id="groupName" >
                                <option *ngFor="let item of groups" class="d-inline-block" value="{{item.id}}">{{item.name}}</option>
                            </select> -->
                        </div>
                       </div>
                    </div>
                </div>
            </ng-template>
       
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-5 " style="padding: 0px 30px;">
        <div class="col-12 col-md-5">
            <a routerLink="/school/new-student" class="text-muted"><div class="action-button" style="background-color: #3AA7CE; color: white;"><img src="assets/images/add.png" alt="">اضافة  طالب جديد </div></a>
            <a routerLink="/school/account-user" class="text-muted"><div class="action-button"><img src="assets/images/Edit.svg" alt="">تعديل </div></a>
            <a routerLink="#" class="text-muted"><div class="action-button" (click)="deleteDialog()"><img src="assets/images/Delete.svg" alt="" >حذف </div></a>
        </div>
        <div class="col-12 col-md-7 float-end">
            <a routerLink="#" class="text-muted"><div class="action-button"><img src="assets/images/uploadModel.svg" alt="">تحميل نموذج </div></a>
            <a routerLink="#" class="text-muted"><div class="action-button"><img src="assets/images/upload.svg" alt="">رفع بيانات </div></a>
            <a routerLink="#" class="text-muted"><div class="action-button"><img src="assets/images/print.svg" alt="">طباعة </div></a>
            <a routerLink="#" class="text-muted"><div style="background-color: #E2FFE3;" class="action-button"><img src="assets/images/excel.svg" alt="">إكسل </div></a>
            <a routerLink="#" class="text-muted"><div style="background-color: #F9E7E7;" class="action-button"><img src="assets/images/pdf.svg" alt="">pdf </div></a>
        </div>
    </div>
    <div>
        <table class="table table">
            <tr class="tableHeader">
                <td><input class="form-check-input fs-5" type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"  id="checkbox-all" /></td>
                <td>الاســـم  <select name="pageSize" id="pageSize" [(ngModel)]="pageSize" class="select-size">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select></td>
                  <td>المجموعة</td>
                  <td>رقم المستخدم</td>
                <td>آخر نشاط</td>
                <td>الفاعلية</td>
                <td>التحكم</td>
            </tr>
             <tr class="mt-3">
                <td colspan="7"></td>
             </tr>
            <tbody *ngFor="let item of student_data | paginate: 
                { id: 'foo', itemsPerPage: pageSize, currentPage: pageNo, totalItems: total };let i = index">
                <tr id="first_{{i}}">
                    <td><input class="form-check-input fs-5" type="checkbox" [(ngModel)]="item.isSelected" (change)="checkBoxChange()" id="checkbox-{{i}}" /></td>
                    <td style="cursor: pointer;" (click)="openDialogDetailsStudent()"><img src="{{item.image}}" width="25" height="25" class="ms-2" alt=""> {{item.name}}</td>
                    <td>{{item.groupName}}</td>
                    <td>{{item.userNumber}} </td>
                    <td>{{item.lastActiveDate}}</td>
                    <td [className]="item.isActive?'parentActive':'parentInActive'">
                        <span></span>{{item.isActive?'فعـــــال':'غير فعال'}}
                    </td>
                    <td>
                        <a routerLink="#" class="d-inline-block ms-2" (click)="locationDialog()"> <img src="assets/images/Location.svg"  width="20px" height="20px" alt=""> </a>
                        <a routerLink="#" class="d-inline-block" (click)="passwordStudentDialog()"> <img src="assets/images/lock.svg" width="20px" height="20px" alt=""> </a>
                    </td>
            </tbody>
        </table>
    </div>
    <div class="row my-5 m-0">
        <div class="d-flex align-items-center justify-content-center">
            <pagination-controls (pageChange)="pageNo = $event" id="foo" nextLabel="" previousLabel=""></pagination-controls>
        </div>
    </div>
</div>