<div class="container-fluid" style="min-height: calc(100vh+300px);">
    <div class="busBackground">
    <div class="row mb-5" >
        <p><span class="fw-bolder" style="font-size: 18px;"> رحلات اليوم : </span></p>
        <div class="activies">
            <a (click)="showJourney(journey.type)" *ngFor="let journey of todayJournies;let i= index;let e = even" [ngClass]="isAllJourneySelected&&journey.type=='all'?'activityItemHover':'' || isActiveJourneySelected&&journey.type=='active'?'activityItemHover':''" class="active activityItem">
                <div class="body">
                    <div class="left">
                        <div>
                            <div [className]="!e?'number-blue number':'number-orange number'">
                                {{journey.count}}
                            </div>
                            <div class="text-muted mt-2 title">
                                {{journey.activityName}}
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="single-chart">
                            <svg viewBox="0 0 36 36" class="circular-chart {{!e? 'blue':'orange'}}">
                                <path class="circle-bg" d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <path class="circle" [attr.stroke-dasharray]="strokArray[i]" d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <text x="18" y="20.35" class="percentage  fw-bolder">%{{journey.percent}}</text>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p>{{journey.label}} {{journey.count}}</p>
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="isActiveJourneySelected">
        <div class="row">
            <div *ngFor="let group of groups" class="col-12 col-md-3">
                <div class="wrapper">
                    <div class="outerContainerCardGroupItem">
                        <div class="cardGroupItem">
                            <div class="row">
                                <div class="col-8">
                                    <div class="text-start pt-4 pb-3 fs-5" style="color: #3AA7CE;">{{group.name}}</div>
                                </div>
                                <div class="col-4">
                                    <img src="assets/images/group.png" alt="group">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 text-center pb-3">
                                    <div style="color: #575757;">عدد الطلاب فى الحافلة :  <span class="px-2" style="color: black;font-weight: 800;">{{group.studentCount}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <button routerLink="/school/tracking" class="itemActionButton">تتبع الرحلة</button>
                            <button class="itemActionButton orangeButton">انهاء الرحلة</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4">
                <a routerLink="/school/tracking-all" class="itemActionButton trackingAllButton" >تتبع جميــع الرحلات</a>
            </div>
            <div class="col-12 col-md-4"></div>
        </div>
    </div>
    <div *ngIf="isAllJourneySelected">
        <div class="row mb-4">
            <div class="col-12 col-md-3">
                <button class="journeyTypeButton" [style]="allJournies?'font-weight:900':'font-weight:500'" (click)="getAllJourney()">الكل</button>
            </div>
            <div class="col-12 col-md-3">
                <button class="journeyTypeButton" [style]="outboundJourney?'font-weight:900':'font-weight:500'" (click)="getOutboundJourney()">رحلات الذهاب</button>
            </div>
            <div class="col-12 col-md-3">
                <button class="journeyTypeButton" [style]="returnJourney?'font-weight:900':'font-weight:500'" (click)="getReturnJourney()">رحلات العودة</button>
            </div>
            <div class="col-12 col-md-3"></div>
        </div>
        <div  class="row">
            <div *ngFor="let item of journies" class="col-12 col-md-6">
                <div class="tripItem">
                    <div class="row">
                        <div class="col-10">
                            <p class="title">مجموعة <span class="itemTitle">{{item.groupNameAr}}</span> <span> ( {{item.groupNameEn}} )</span></p>
                            <div>
                                <span class="MiddleGroup">
                                    <span class="spanTitle">{{item.supervisorName}}</span>
                                    <img src="assets/images/reload.svg" alt="">
                                </span>
                                <span>
                                    <span class="spanTitle">عدد الطلاب {{item.studentCount}}</span>
                                    <img src="assets/images/number_student.svg"  alt="">
                                </span>
                                <span>
                                    <span class="activeStateTransparent"> 
                                        <span [style.backgroundColor]="item.active?'#3AA7CE':'#ff0000'" class="dotColor"></span>
                                        <span [style.color]="item.active?'#3AA7CE':'#ff0000'" class="spanTitle">{{item.active?'فعال':'غير فعال'}}</span>
                                    </span>
                                </span>
                            </div>
                            
                        </div>
                        <!-- <div class="col-2">
                            <img src="assets/images/group.png" class="cardImage" alt="">
                        </div> -->
                    </div>
                    <hr class="px-5 mx-3">
                    <div class="row ">
                        <span class="d-inline-block">
                            <span class="MiddleGroup">
                                <img src="assets/images/Calendar.svg"  alt="">
                                <span>{{item.date}}</span>
                            </span>
                            <span class="MiddleGroup ">
                                <span>الإنهاء باستخدام الكود</span>
                                <span class="activeState" [style.backgroundColor]="item.codeActive?'#E0FFD9':'#FFF0EB'" > <span [style.backgroundColor]="item.codeActive?'#24FF00':'#ff0000'" class="dotColor"></span> {{item.codeActive?'فعال':'غير فعال'}}</span>
                            </span>
                            <span class="actionIcons float-start">
                                <a (click)="addStudentToGroupDialog()"><img src="assets/images/user.svg"   width="30" height="30" alt=""></a>
                                <a (click)="openChangeGroupSupervisorDialog()"><img src="assets/images/Edit.svg"   width="30" height="30" alt="" ></a>
                                <a routerLink="#"><img src="assets/images/Delete.svg" width="30" height="30" alt=""></a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>