<form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
<div>
    <div class="header-D p-2">
        <a (click)="closeDialog()" class="border-0"><img src="assets/images/closeD.svg" alt="close"></a>
        <span class="float-end text-white fs-5 px-3">بيانات الصورة</span>
    </div>
    <div class="container-fluid pt-4">
        <div class="row" dir="rtl">
            <div class="col-12 col-md-4  text-end">
                <div class='contStack' (click)="fileInput.click()" >
                    <div class="imageCont">
                        <img src={{userImage}}   (click)="fileInput.click()" width="120" height="120" alt="user">
                        <input type="file" name="image" formControlName="image"  accept="image/*" (change)="onFileSelected($event)" #fileInput style="display:none">
                        
                    </div>
                    <div class="iconCont">
                        <div class="iconCamerText">اعادة تعيين صورة جديدة</div>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 col-md-8 mt-2 text-end">
                <span>حجم الصورة</span>
                <span class="shadow-d rounded  p-1 px-3 me-2">
                    <input type="text" name="imageSize" formControlName="imageSize" class="border-0" />
                </span>
                <div class="shadow-d rounded  col-5 row p-2 mt-4 p-0">
                    <a (click)="changeAlignment('left')" class="col-4 {{alignment=='left'?'active-item':''}} p-1 m-0">
                        <img  src="assets/images/left.svg" width="25px" height="25px" alt="left">
                    </a>
                    <a (click)="changeAlignment('center')" class="col-4 {{alignment=='center'?'active-item':''}} p-1 m-0">
                        <img  src="assets/images/center.svg" width="25px" height="25px" alt="center">
                    </a>
                    <a (click)="changeAlignment('right')" class="col-4 p-1 {{alignment=='right'?'active-item':''}} m-0">
                        <img  src="assets/images/right.svg" width="25px" height="25px" alt="right">
                    </a>
                
                </div>
            </div>
        </div>
    </div>
    <div  class="row p-0 m-0 mt-4 mb-4">
        <div class="col-0 col-md-1"></div>
        <div class="col-12 col-md-5">
            <button (click)="closeDialog()" class="btn border w-100 btn-default">
                إلغاء
            </button>
        </div>
        <div class="col-12 col-md-5">
            <button class="btn w-100 text-white" style="background-color: #3AA7CE;">
                حفظ البيانات
            </button>
        </div>
    </div>
</div>
</form>