<div>
    <div class="header-D p-2">
        <img src="assets/images/closeD.svg" alt="close">
        <span class="float-end text-white">بيانات الصورة</span>
    </div>
    <div class="container-fluid pt-4">
        <div class="row" dir="rtl">
            <div class="col-12 col-md-4 ">
                <img src="assets/images/img-bus.png" class="w-100" alt="">
                <div class="edit-icon d-flex align-items-center justify-content-center">
                    <img src="assets/images/camera_Icon.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-8 text-end">
                <span>حجم الصورة</span>
                <span class="shadow-d rounded  me-2">615 * 411 </span>
                <div class="shadow-d rounded col-5 row p-2 mt-4 p-0">
                    <div class="col-4 active-item p-2 m-0">
                        <img  src="assets/images/left.svg" width="25px" height="25px" alt="left">
                    </div>

                    <div class="col-4  p-2 m-0">
                        <img  src="assets/images/center.svg" width="25px" height="25px" alt="left">
                    </div>
                    <div class="col-4 p-2 m-0">
                        <img  src="assets/images/center.svg" width="25px" height="25px" alt="left">
                    </div>
                    
                    <!-- <img class="col-4" src="assets/images/center.svg" width="25px" height="25px" alt="center">
                    <img class="col-4" src="assets/images/right.svg" width="25px" height="25px" alt="right"> -->
                </div>
            </div>
        </div>
    </div>
    <div  class="row p-0 m-0 mt-4 mb-4">
        <div class="col-0 col-md-1"></div>
        <div class="col-12 col-md-5">
            <button class="btn w-100 text-white" style="background-color: #3AA7CE;">
                حفظ البيانات
            </button>
        </div>
        <div class="col-12 col-md-5">
            <button class="btn border w-100 btn-default">
                إلغاء
            </button>
        </div>
    </div>
</div>