<h3>تم التسليم إلى :</h3>
<div>
    <span class="item">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>

    <span class="item-out ">
        <span class="label">الكل </span>
        <span class="number">18</span>
    </span>
</div>

<div class="container ">
    <div class="row">
        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-5">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                        <p>2020-09-05</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/flow.svg" alt="flow.svg">
                        <img src="assets/images/Delete.svg" alt="delete.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-5">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                        <p>2020-09-05</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/flow.svg" alt="flow.svg">
                        <img src="assets/images/Delete.svg" alt="delete.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-5">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                        <p>2020-09-05</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/flow.svg" alt="flow.svg">
                        <img src="assets/images/Delete.svg" alt="delete.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-5">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                        <p>2020-09-05</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/flow.svg" alt="flow.svg">
                        <img src="assets/images/Delete.svg" alt="delete.svg">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-5">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                        <p>2020-09-05</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/flow.svg" alt="flow.svg">
                        <img src="assets/images/Delete.svg" alt="delete.svg">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-5">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                        <p>2020-09-05</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/flow.svg" alt="flow.svg">
                        <img src="assets/images/Delete.svg" alt="delete.svg">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-3 mt-4">
            <div class="card-item">
                <div class="row m-0 p-2">
                    <div class="col-3">
                        <img src="assets/images/img-fill.png" alt="">
                    </div>
                    <div class="col-5">
                        <p>احمد احمد</p>
                        <p>طالب</p>
                        <p>2020-09-05</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/flow.svg" alt="flow.svg">
                        <img src="assets/images/Delete.svg" alt="delete.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>