<div class="container-fluid">
    <div class="row p-3" style="background-color: #3AA7CE;color: white;">
        <div class="col-11">تمديد الاشتراك</div>
        <div class="col-1"><a (click)="closeDialog()" class="text-white"><i class="fas fa-close fs-5"></i></a></div>
    </div>
    <div class="row py-4">
        <div class="col-5"><label class="defaultLabel" style="font-size: 18px;">نهاية الاشتراك</label></div>
        <div class="col-7">
            <div class="p-2 px-5" style="border: 1px solid gray;font-size: 15px;">12/03/2022</div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-5">
            <label class="defaultLabel">تاريخ الانتهاء الجديد</label>
        </div>
        <div class="col-7">
            <input type="date" class="form-control defaultDateInput">
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <button class="saveButton">تمديد</button>
                </div>
                <div class="col-6">
                    <a class="cancelButton" (click)="back()" >إلغاء</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>