.mdc-form-field{
  vertical-align:baseline !important;
}
@font-face {
  font-family: 'Cairo';
  src: url('../src/assets/libs/fonts/Cairo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body,h1,h2,h3,h4,h5,h6,p,label,span,div {
  font-family: 'Cairo' !important;
}
.main-index .right-div .mdc-form-field label {
  color: #575757;
}
.iti {
  width: 100% !important;
  text-align: right;
  height: 100%;
  width: 100%;
  outline: none;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 22px;
  padding: 0 18px 0 35px;
  box-shadow: 0 2px 4px rgba(104, 101, 101, 0.5);
  transition: all 0.2s linear;
}
.iti #phone{
  width: 100%;
  height: 100%;
  outline: none;
  border:none;
}
.iti #phone ::placeholder{
  font-size: 5px !important;
}

.mat-mdc-text-field-wrapper{
height: 55px !important;
width: 100%;
  outline: none;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 22px;
  box-shadow: 0 2px 4px rgba(104, 101, 101, 0.5);
  transition: all 0.2s linear;
}

/* start parents *****************************************************************/
.users-count{
display: inline-block;
background-color: #F8E9FF;
color: #785B9D;
font-size: 13px;
padding: 3px 8px;
min-width: 100px;
text-align: center;
border-radius: 10px;
margin-right: 20px;
}
.table {
border: none;
}
thead{
font-weight: 900;
}
.table td,
.table th {
border: none;
padding-top: 10px;
padding-bottom: 10px;
}

/* --------------------------start search------------------------------------------ */

.search-box {
width: 100%;
/* height: 70%; */
background-color: #fff;
}
.search-box .has-search-box {
margin-right: 5%;
width: 80%;
float: right;
}
.search-box .has-search-box .form-control {
padding-right: 2.375rem;
background-color: #F5F5F5;
}

.search-box .btns {
margin:0 1%;
width: 12%;
cursor: pointer;
border-radius: 10px;
height: 40px;
background-color: #3AA7CE;
display: inline;
float: left;
display: flex;
justify-content: center;
align-items: center;
}
.search-box .has-search-box .form-control-feedback {
position: absolute;
z-index: 2;
display: block;
width: 2.375rem;
height: 2.375rem;
line-height: 2.375rem;
text-align: center;
pointer-events: none;
color: #aaa;
}
/* --------------------------end search------------------------------------------ */
/* ----------------------------start action buttons [delete-update-edit-add-....]----------------- */
.action-button{
background-color: transparent;
border: 1px solid silver;
border-radius: 15px;
display: inline-block;
padding: 4px 10px;
margin-left: 7px;
margin-bottom: 7px;
}
.action-button>img{
width: 20px;
height: 20px;
display: inline-block;
margin-left: 10px;
}
/* ----------------------------end action buttons [delete-update-edit-add-....]----------------- */

/* end parents *****************************************************************/

/* pagination---------------------------------------------------------------------- */
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  border: .1px solid rgb(235, 232, 232);
  /* font-size: 30px; */
}
.ngx-pagination .disabled {
  /* padding: 5px 10px; */
  color: #cacaca;
  cursor: default;
  /* font-size: 30px; */
  border: .1px solid rgb(248, 244, 244);
}
.ngx-pagination li {
  display: inline-block;
  background-color: rgb(233, 230, 230);
}
/* .ngx-pagination .pagination-previous a:before, .ngx-pagination .pagination-previous.disabled:before{ */
  .ngx-pagination .current {
    /* padding: 5px 10px; */
    background: #2199e8;
    color: #fefefe;
    cursor: default;
    /* font-size: 30px; */
    border: .1px solid #2199e8;
}
/* pagination---------------------------------------------------------------------- */
/* saveButton cancelButton============================================================ */
.saveButton, .cancelButton{
  display: inline-block;
  padding: 7px;
  text-align: center;
  border: 1px solid #3AA7CE;
  background-color: #3AA7CE;
  color: white;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.cancelButton{
  border-color: #575757;
  background-color: white;
  color: #575757;
}

.dropdownlist2 {
  position: absolute;
  width: 25%;
  /*
  in each component define the top value  
  top: 35%;
   */
  padding-top: 10px;
  padding-bottom: 10px;
  left: 2%;
  background-color: white;
  z-index: 100;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 20px;
}
.schoolLogoButtton{
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  margin: 0px;
  /* position: relative; */
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid grey;
  width: 15px;
  height: 15px;
  border-radius: 50% 50%;
  outline: none;
  margin: 0 10px;
}
input[type="radio"]:checked {
  background-color: #F06030;
  border-color: #F06030;
}
input[type="radio"].defaultRadioButton:checked {
  background-color: #3AA7CE;
  border-color: #3AA7CE;
}
input[type="radio"].defaultRadioButton:not(:checked) {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
}

.radioButton{
  cursor: pointer;
  display: inline-block;
}


.custom-dialog-container .mat-dialog-container {
  padding: 0px !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group{
  background-color: #F06030;
  color: white;
}
.tox .tox-tbtn svg{
  filled: white;
}
.tox .tox-tbtn svg {
  display: block;
  fill: #ebf0f5;
}


/* //////////////////////////////////////////////dialog--------------------------------- */
.custom-dialog-container .mat-dialog-container {
  padding: 0px !important;
}
a:hover{
  cursor: pointer;
}

.headerPopUp{
  background-color: #3AA7CE;
  padding: 20px 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.headerPopUp img{
  width: 100%;
  height: 100%;
}
/* //////////////////////////////////////////////dialog--------------------------------- */

/* =================================form field================================================================ */
.defaultMainFromHeader{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-right: 15px;
}
.defaultLabel{
  padding: 0px 5px 10px 0px;
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.defaultTextBox{
  display: inline-block;
  width: 100%;
  padding: 7px;
  font-size: 13px;
  color: black;
  border-radius: 7px;
  margin-bottom: 25px;
  border: .1px solid #3AA7CE;
}
.defaultTextBox:focus{
  display: inline-block;
  border: .1px solid #3AA7CE;
}
.defaultFormContainer{
  background-color: white;
  padding: 30px 15px;
  border-radius: 10px;
}


input[type=radio].SquareRadioButton {
  border: 1px solid #fff;
  padding: 0.5em;
  -webkit-appearance: none;
  background: url('/assets/images/rect.svg') no-repeat center center;
  background-size: 30px;
  border: none;
  border-radius: 0;
}


input[type=radio].SquareRadioButton:checked {
  background: url('/assets/images/activeRect.svg') no-repeat center center;
  background-size: 30px;
  border: none;
  border-radius: 0;
}


input[type=radio].SquareRadioButton:focus {
  outline-color: transparent;
  border-radius: 0;
}

input[type=checkbox].SquarecheckboxButton {
  border: 1px solid #fff;
  padding: 0.5em;
  -webkit-appearance: none;
  background: url('/assets/images/rect.svg') no-repeat center center;
  background-size: 30px;
  border: none;
  border-radius: 0;
}


input[type=checkbox].SquarecheckboxButton:checked {
  background: url('/assets/images/activeRect.svg') no-repeat center center;
  background-size: 30px;
  border: none;
  border-radius: 0;
}


input[type=checkbox].SquarecheckboxButton:focus {
  outline-color: transparent;
  border-radius: 0;
}

input[type="date"].defaultDateInput::-webkit-calendar-picker-indicator {
  background: url('/assets/images/Calendar.svg') no-repeat;
  background-size: 25px;
  padding: 5px;
}
.defaultSelectOption{



  display: inline-block;
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  border: .1px solid #3AA7CE;


   /* styling */
   background-color: white;
   border: .1px solid #3AA7CE;
   border-radius: 4px;
   display: inline-block;
   font: inherit;
   line-height: 1.5em;
   padding: 0.5em 3.5em 0.5em 1em;
 
   /* reset */
 
   margin: 0;      
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
 


  
  background-image:
  linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.5em;
background-size:
  5px 5px,
  5px 5px,
  1px 1.5em;
background-repeat: no-repeat;
direction: rtl;
}
.defaultSelectOption:focus{
  border: .1px solid #3AA7CE;


  background-image:
  linear-gradient(45deg, #3AA7CE 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, #3AA7CE 50%),
  linear-gradient(to right, #ccc, #ccc);
background-position:
  calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  calc(100% - 2.5em) 0.5em;
background-size:
  5px 5px,
  5px 5px,
  1px 1.5em;
background-repeat: no-repeat;
border-color: #3AA7CE;
outline: 0;
  
}


/* =================================form field================================================================ */