
    <app-home-navbar></app-home-navbar>
<div style="height: 30px;"></div>
<app-section1-bus-way></app-section1-bus-way>
<div style="height: 30px;"></div>
<app-section2-features></app-section2-features>
<div style="height: 30px;"></div>
<app-section3-targeters></app-section3-targeters>
<div style="height: 30px;"></div>
<app-section4-how-we-work></app-section4-how-we-work>
<div style="height: 30px;"></div>
<app-section5-download-app></app-section5-download-app>
<div style="height: 30px;"></div>
<app-section6-trusted-partners></app-section6-trusted-partners>
<div style="height: 30px;"></div>
<app-section7-contact-us></app-section7-contact-us>
<div style="height: 30px;"></div>
<app-home-footer></app-home-footer>

