.prev {
    color: #575757;
    font-size: 12px;
}

.new {
    width: 50%;
    border-radius: 10px;
    background-color: white;
    padding-right: 20px;
}

.btn-rounded {
    background-color: #3AA7CE;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.btn-outline {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.stack-div {
    position: relative;
    top: -19%;
    left: -34%;
    background-color: black;
    width: 100px;
    height: 100px;
}
.load-image{
    background-color: white;
}
.edit-icon{
    right: 44% !important;
}
.emial-input{
    font-size: 11px !important;
    padding: 0 !important;
}
.input-box input{
    padding: 0 !important;
}
.input-box  label{
    background-color: white;
}
.edit-editor{
    right: 87% !important;
top: -89%;
}