<div class="toolbar" dir="ltr">
    <div class="school">
        <button (click)="toggleSchoolAccountDropDown()" class="schoolLogoButtton"><img src="assets/images/school_logoo.png" alt=""></button>
        <span style="width: 100%;">اسم المدرسة</span>
        <div *ngIf="isSchoolAccountDropdownVisible" class="dropdownlist2">
            <img src="assets/images/school_logoo.png"  alt="">
            <p>SCHOOL NAME</p>
           <p class="email">school email.com</p>
           <hr class="m-0 p-0">
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
        </div>
       
    </div>
   
    <div class="search">
        <div class="form-group has-search" dir="rtl">
            <span class="form-control-feedback">
                <img src="assets/images/Search.svg" alt="">
            </span>
            <input type="text" class="form-control" placeholder="أدخل نص البحث">
        </div>
        <div class="btns">
            <img (click)="toggleSearchBox()" src="assets/images/Filter.svg" alt="">
        </div>
        <div *ngIf="isSearchBoxVisible" class="dropdownlist">
            
          <div>
            <span style="margin-right: 10%; margin-top: 10%;">One</span>
            <label class="radio-btn">
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>
          </div>

          <div style="margin-top: 10%;">
            <span style="margin-right: 10%; margin-top: 20px;">One</span>
            <label class="radio-btn">
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>
          </div>
        </div>
    </div>
</div>