<div class="toolbar" dir="ltr">
    <div class="school">
        <img src="assets/images/school_logoo.png" alt="">
        <span style="width: 100%;">اسم المدرسة</span>
        
        <div class="dropdownlist2">
            <img src="assets/images/school_logoo.png"  alt="">
            <p>SCHOOL NAME</p>
           <p class="email">school email.com</p>
           <hr class="m-0 p-0">
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="assets/images/profile.svg" alt="profile">
           </div>
        </div>
    </div>
    <div class="search">
        <div class="form-group has-search" dir="rtl">
            <span class="form-control-feedback">
                <img src="assets/images/Search.svg" alt="">
            </span>
            <input type="text" class="form-control" placeholder="أدخل نص البحث">
        </div>
        <div class="btns">
            <img src="assets/images/Filter.svg" alt="">
        </div>

    </div>
</div>