<div class="toolbar" dir="ltr">
    <div class="school">
        <img src="assets/images/school_logoo.png" alt="">
        <span>اسم المدرسة</span>
        <!-- <div class="dropdownlist2">
            <img src="../images/school_logoo.png"  alt="">
            <p>SCHOOL NAME</p>
           <p>school email.com</p>
           <hr>
           <div class="row-item">
            <span>الملف الشخصي</span>
            <img src="../images/profile.svg" alt="profile">
           </div>
        </div> -->
    </div>
    <div class="search">
        <div class="form-group has-search" dir="rtl">
            <span class="form-control-feedback">
                <img src="assets/images/Search.svg" alt="">
            </span>
            <input type="text" class="form-control" placeholder="أدخل نص البحث">
        </div>
        <div class="btns">
            <img src="assets/images/Filter.svg" alt="">
        </div>

    </div>
</div>