.title-b{
    background-color: #F8E9FF;
    color: #785B9D;
    border-radius: 15px;
}
#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
  .search-container input[type=text] {
    padding: 6px;
    width: 100%;
    font-size: 17px;
    border: none;
  }
  .btn-drop{
    color: black;
    background-color: white;
    border-left: 1px solid #000;
  }

  .img-search{
    position: relative;
  }
  .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
  }
