<div class="container-fluid">
    <div class="row p-3" style="color: black;">
        <div class="col-11">موقع المدرسة على الخريطة :</div>
        <div class="col-1"><a (click)="closeDialog()" class="text-dark"><i class="fas fa-close fs-5"></i></a></div>
    </div>
    <div class="row py-4">
        <div class="" style="height: 100%; width: 100%;">
            <google-map height="400px"
                                    width="100%"
                                    [center]="center"
                                    [zoom]="zoom"
                                   >  
            </google-map>
        </div>
    </div>
</div>