.studentInfo{
  min-height: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  vertical-align: middle;
}
.addStudentButton{
  display: inline-block;
padding: 7px;
text-align: center;
border: 1px solid #3AA7CE;
background-color: #3AA7CE;
color: white;
font-size: 16px;
width: 10%;
border-radius: 10px;
margin-bottom: 10px;
}