<div class="container-fluid parent-container">
    <div class="row" style="padding: 30px 30px 10px 30px;">
        <div class="col-12 col-md-6">
            <h3 class="fw-bolder float-end" style="font-size: 18px;">بيانات أولياء الأمور : <span class="users-count">35
                    مستخدم</span></h3>
        </div>
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-4 float-start">
            <div class="search-box">
                <div class="form-group has-search-box">
                    <span class="form-control-feedback">
                        <img src="assets/images/Search.svg" alt="">
                    </span>
                    <input type="text" name="parent_search-box" id="parent_search-box" class="form-control bg-white"
                        placeholder="أدخل نص البحث">
                </div>
                <div class="btns">
                    <img src="assets/images/Filter.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-5 " style="padding: 0px 30px;">
        <div class="col-12 col-md-5">
            <div class="action-button"><img src="assets/images/parents.svg" alt="">اضافة ولى الأمر </div>
            <div class="action-button"><img src="assets/images/parents.svg" alt="">تعديل </div>
            <div class="action-button"><img src="assets/images/parents.svg" alt="">حذف </div>
        </div>
        <div class="col-12 col-md-7 float-end">
            <div class="action-button"><img src="assets/images/parents.svg" alt="">تحميل نموذج </div>
            <div class="action-button"><img src="assets/images/parents.svg" alt="">رفع بيانات </div>
            <div class="action-button"><img src="assets/images/parents.svg" alt="">طباعة </div>
            <div class="action-button"><img src="assets/images/parents.svg" alt="">إكسل </div>
            <div class="action-button"><img src="assets/images/parents.svg" alt="">pdf </div>
        </div>
    </div>
    <div>
        <table class="table table">
            <tr class="tableHeader">
                <td><input class="form-check-input fs-5" type="checkbox" value="" id="checkbox-all" /></td>
                <td>الاســـم</td>
                <td>رقم الجوال</td>
                <td>عدد الأبناء</td>
                <td>آخر نشاط</td>
                <td>الفاعلية</td>
                <td>التحكم</td>
            </tr>
             <tr class="mt-3">
                <td colspan="7"></td>
             </tr>
            <tbody *ngFor="let item of parents_data | paginate: 
                { id: 'foo', itemsPerPage: pageSize, currentPage: pageNo, totalItems: total };let i = index">
                <tr id="first_{{i}}">
                    <td><input class="form-check-input fs-5" type="checkbox" value="" id="checkbox-{{i}}" /></td>
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.childrenInfo.length}} <a data-bs-toggle="collapse" href="#parent-info-{{item.id}}" ><img src="assets/images/Search.svg" class="mx-3" alt=""></a></td>
                    <td>{{item.lastActiveDate}}</td>
                    <td [className]="item.isActive?'parentActive':'parentInActive'">
                        <span></span>{{item.isActive?'فعـــــال':'غير فعال'}}
                    </td>
                    <td><a routerLink="#"><img src="assets/images/Search.svg" alt=""></a></td>
                <tr class="collapse" id="parent-info-{{item.id}}">
                    <td colspan="7" [className]="item.isActive?'blueBackground':'dangerBackground'">
                        <div class="row">
                            <h3 class="fw-bolder" style="font-size: 14px;"> قائمــة الأبناء : <span
                                    class="users-count">{{item.childrenInfo.length}} ابناء</span></h3>
                        </div>
                        <div class="px-5 mb-2">
                            <div class="row">
                                <div *ngFor="let child of item.childrenInfo" class="sonRecord">
                                        <div class="row">
                                            <div class="col-3 col-md-1"><img src="assets/images/Search.svg" alt=""> </div>
                                            <div class="col-3 col-md-4">{{child.name}}</div>
                                            <div class="col-3 col-md-1"></div>
                                            <div class="col-3 col-md-2">{{child.phone}}</div>
                                            <div class="col-3 col-md-4">edit | update | delete</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row my-5 m-0">
        <div class="d-flex align-items-center justify-content-center">
            <pagination-controls (pageChange)="pageNo = $event" id="foo" nextLabel=""
                previousLabel=""></pagination-controls>
        </div>
    </div>
</div>


<hr>
