<div class="container">
    <div class="row">
        <div class="col-7 con-div ">
            <h2>بيانات الحساب</h2>
                 <div class="load-image d-flex justify-content-center align-items-center">
                   <div class="text-center">
                    <img src="assets/images/Image.svg" alt="not found">
                    <p>اسحب صورة أو <span style="color: blue;">حمّلها</span> </p>
                    <p>يجب أن يكون الصورة بصيغة jpg أو png</p>
                   </div>
                 </div>
                 
                 <div class="input-box">
                    <label for="nameInEnglish">الاسم بالانجليزية</label>
                    <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
                </div>
    
                <div class="input-box">
                    <label for="nameInEnglish">الاسم بالانجليزية</label>
                    <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
                </div>
                <div class="input-box">
                    <label for="nameInEnglish">الاسم بالانجليزية</label>
                    <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
                </div>
                <div class="input-box">
                    <label for="nameInEnglish">الاسم بالانجليزية</label>
                    <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
                </div>
                <div style="height: 50px;"></div>
                <div class="row text-center  d-flex justify-content-center align-items-center">
                    <div class="col-4">  <button class="rounded-button">حفظ التعديلات</button></div>
                    <div class="col-4"> <button class="outline-button">حفظ التعديلات</button></div>
                </div>
    
             </div>
             <div class="col-1"></div>
        <div class="col-4 con-div">
            <h2>بيانات متعلقة بالطالب :</h2>
            <div class="input-box">
                <label for="nameInEnglish">الاسم بالانجليزية</label>
                <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
            </div>

            <div class="input-box">
                <label for="nameInEnglish">الاسم بالانجليزية</label>
                <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
            </div>
            <div class="input-box">
                <label for="nameInEnglish">الاسم بالانجليزية</label>
                <input type="text" spellcheck="false" formControlName="nameInEnglish" name="nameInEnglish" id="nameInEnglish" placeholder="ادخل اسم المدرسة باللغة الانجليزية" >
            </div>
            <div class="text-center d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center btn-plus">
                <img src="assets/images/plus.svg" alt="plus">
            </div>
        </div>
        </div>
       
    </div>
   
    
       
    </div>
    