<div class="container-fluid">
    <div class="row">
        <div class="{{isNotificationOpened?'col-md-8':'col-md-12'}}">
            <div class="row">
                <div class="col-12">
                    <div class="welcomeBack">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <h1 class="fs-4 mt-3">مرحباً بعودتــــك</h1>
                                <h3 class="fs-3 mt-4 fw-bolder">أ . نايف</h3>
                                <a routerLink="#" class="text-decoration-none text-white"><h4 class="mt-3">انتقل للإطلاع على التقارير <img src="assets/images/ArrowLeft.png" width="30" height="30"  alt=""></h4></a>
                            </div>
                            <div class="col-0 col-md-6 d-none d-md-block navrightSection">
        
                            </div>
                        </div>
                         </div>
                </div>
            </div>
            
            <div class="row pt-4 ">
                <div class="wrapper" #cardsContainer>
                 <div *ngFor="let item of statisctics" class="item">
                    <div class="row  d-flex justify-content-center align-items-center">
                        <div class="col-5">
                            <img src="{{item.image}}" width="60" height="60" class="mb-4">
                        </div>
                        <div class="col-7">
                            <h3 class="m-0 p-0 text-muted">{{item.label}}</h3>
                            <h2 class="fw-bolder">{{item.count}}</h2>
                        </div>
                    </div>
                 </div> 
                </div>
                <div (click)="isNotificationOpened = !isNotificationOpened" class="notificationContainer">
                    <div class="notificationItem">
                        <div class="numberOfNotification">+7</div>
                    </div>
                </div>   
            </div>
        
            <div class="row">
                <p class="pt-5"><span class="fw-bolder" style="font-size: 18px;">النشاطات اليومية : </span><span class="text-muted  mx-2"> اليوم {{ currentDate | date:'dd/MM/yyyy' }} </span><img src="/assets/images/ArrowDown.svg"></p>
        
            
                
                <div class="row">
                    <div *ngFor="let activity of activities;let i= index;let e = even" class="col-12 {{isNotificationOpened?'col-md-4':'col-md-3'}}">
                        <div class="activityCardItem">
                            <div class="activityCardTop">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-6">
                                        <div class="single-chart">
                                            <svg viewBox="0 0 36 36" class="circular-chart {{e? 'blue':'orange'}}">
                                                <path class="circle-bg" d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                                <path class="circle" [attr.stroke-dasharray]="strokArray[i]" d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                                <text x="18" y="20.35" class="percentage fw-bolder">%{{activity.percent}}</text>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="activityCardNumber  {{e? 'blue-number':'orange-number'}}">{{activity.count}}</div>
                                        <div class="activityCardLabel">{{activity.activityName}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="activityCardBottom">{{activity.label}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div *ngIf="isNotificationOpened" class="{{isNotificationOpened?'col-12':'col-0 d-none d-md-block'}} {{isNotificationOpened?'col-md-4':'col-md-0'}}">
            <div *ngIf="isLastAddedShown" class="notificationAlertCard" dir="rtl">
                <div class="closeIcon">
                    <div class="row">
                        <div class="col-10">
                            أخر الاضافات :
                        </div>
                        <div class="col-2 closeItem" (click)="closeLastAdded()"></div>
                    </div>
                </div>
                <div class="notificationAlertContainer">
                    <div *ngFor="let item of addingsList" routerLink="/agent/speed-notification" style="cursor: pointer;" class="notificationItemCard"  >
                        <div class="row">
                            <div class="col-8 notiTitle">{{item.title}}</div>
                            <div class="col-4 notiTime">{{item.time}}</div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-2">
                                <div class="imagesStack">
                                    <img *ngFor="let img of item.images.slice(0, 2);let i= index" src="{{img}}" class="image-{{i+1}}"/>
                                    <img *ngIf="item.images.length==3" src="{{item.images[2]}}" class="image-3"/>
                                    <span *ngIf="item.images.length>3" class="imageMoreThan-3">+{{item.images.length - 2}}</span>
                                </div>
                            </div>
                            <div class="col-6" style="font-size: 13px;">{{item.description}}</div>
                            <div class="col-4">
                                <span style="font-size: 11px;">{{item.date}}</span> <img src="/assets/images/Calendar.svg"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isLastModifiedShown" class="notificationAlertCard" dir="rtl">
                <div class="closeIcon">
                    <div class="row">
                        <div class="col-10">
                            أخر التعديلات :
                        </div>
                        <div class="col-2 closeItem" (click)="closeLastModified()"></div>
                    </div>
                </div>
                <div class="notificationAlertContainer">
                    <div *ngFor="let item of updatesList"  routerLink="/agent/speed-notification" style="cursor: pointer;"  class="notificationItemCard">
                        <div class="lastModifiedItem d-flex">
                            <span class="lastModifiedCircle"></span>
                            <span class="lastModifiedLabel">{{item.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    
</div>
