.welcomeBack{
    background-image: url('/assets/images/welcomeBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 230px; */
    border-radius: 25px; 
    padding: 30px 20px 20px 20px; 
    vertical-align: bottom;
    color: white; 
}